{% extends "erp/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <h1>Strona Logowania</h1>
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 ">Zaloguj się, aby sprawdzić zamówienie</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Zaloguj się!</button>
            </div>
        </form>
    </div>
{% endblock content %}
